.home {
  .homeInner {
    padding: 50px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    .titles {
      padding: 20px 0;
    }
    .link {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
