.tv {
  padding: 100px 0;
  .tvInner {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .cards {
      padding: 25px 0;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 25px;
      row-gap: 100px;
    }
  }
}
