$font-primary: "Yantramanav", sans-serif;
$font-secondary: "Roboto", sans-serif;

$background-color: #0b0c0e;
$nav-background: #050607;
$nav-background-scrolled: transparent;
$nav-menu-background: #131519;
$nav-menu-border: #24272f;
$heading-color: #fff;
$text-color: #fff;
$card-text-color: #fff;
$text-color-subtle: #cacaca;
$input-background: #1b1e24;
$input-background-focus: #181b21;
$skeleton-theme-color: #161a1d;
$skeleton-theme-highlight: #181d20;
$star-color: #f7ef47;
